docker {
    enabled = true
    runOptions = "--network host"
}

params.bossdb_uri = "bossdb://Kasthuri/ac4/neuron"
params.x_rng = "0,512"
params.y_rng = "0,512"
params.z_rng = "25,50"
params.out_dir = "data/"

params.connectivity = 6
params.threshold = 400

params.host = "localhost:3306"
params.user = "root"
params.password = "simple"