docker {
    enabled = true
    runOptions = "--network host"
}

params.bossdb_uri = "bossdb://white1986/n2u/em"
params.x_rng = "5903,6927"
params.y_rng = "3661,4685"
params.z_rng = "143,159"
params.out_dir = "data/"

params.connectivity = 18
params.threshold = 10

params.host = "localhost:3306"

params.user = "root"
params.password = "simple"
report.overwrite = true